/*adding a black bg to the body to make things clearer*/
body {background: black;}

.container {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 97vh;
}

.centered {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.face {
	width: 300px;
    margin: 5px;
    text-align: center;
}
div.face {
	width: 300px;
	height: 300px;
	position: relative;
	border: 7px solid white ;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	display: block;
	background: #5e7e4d;
	}
	
p.eyes, p.happy, p.angry, p.sad, p.wtf {
	background: white;
	position: absolute;
}
.eyes, .wtf {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	top: 100px;
}

.happy {
	width: 75px;
	height: 40px;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	top: 100px;
}	

.angry, .sad {
	width: 75px;
	height: 40px;
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
	top: 125px;
}	

.lefteye {
  left: 55px;
}
		
.righteye {
  right: 55px;
}

.angry.lefteye {
	left: 50px;
	transform: rotate(25deg);
}

.angry.righteye {
	right: 50px;
	transform: rotate(-25deg);
}

.sad.lefteye {
	left: 60px;
	transform: rotate(-35deg);
}

.sad.righteye {
	right: 60px;
	transform: rotate(35deg);
}

.wtf.lefteye {
	width: 75px;
	height: 40px;
	border-radius: 0px 0px 100px 100px;
	top: 130px;
}

.spinner-one {
	width: 500px;
	height: 500px;
	border-radius: 50%;
	border: 5px solid;
	border-left-color: rgb(29, 161, 242);
	border-right-color: rgb(29, 161, 242);
	background: transparent;
	animation: rotate-spinner-one 10s linear infinite;
	position: absolute;
	border-style: dotted;
  }

  @keyframes rotate-spinner-one {
	from {
	  transform: rotate(0);
	}
	to {
	  transform: rotate(360deg);
	}
  }

  .spinner-two {
	width: 550px;
	height: 550px;
	border-radius: 50%;
	border: 5px solid rgba(29, 161, 242, 0.2);
	border-left-color: rgb(29, 161, 242);
	border-right-color: rgb(29, 161, 242);
	background: transparent;
	animation: rotate-spinner-two 15s linear infinite;
	position: absolute;
  }

  @keyframes rotate-spinner-two {
	from {
	  transform: rotate(360deg);
	}
	to {
	  transform: rotate(0);
	}
  }
/* * {
	border: 1px solid red;
  } */