/*basic reset*/

/*adding a black bg to the body to make things clearer*/
body {background: black;}
canvas {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1
}


.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.face {
	width: 300px;
	height: 300px;
	position: relative;
	border: 7px solid white ;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	display: block;
	background: #00b300;
	}
	
p.eyes, p.happy, p.angry, p.sad, p.curious {
	background: white;
	position: absolute;
}
.eyes, .curious {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	top: 100px;
}

.happy {
	width: 75px;
	height: 40px;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	top: 100px;
}	

.angry, .sad {
	width: 75px;
	height: 40px;
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
	top: 125px;
}	

.lefteye {
  left: 55px;
}
		
.righteye {
  right: 55px;
}

.angry.lefteye {
	left: 50px;
	transform: rotate(25deg);
}

.angry.righteye {
	right: 50px;
	transform: rotate(-25deg);
}

.sad.lefteye {
	left: 60px;
	transform: rotate(-35deg);
}

.sad.righteye {
	right: 60px;
	transform: rotate(35deg);
}

.curious.lefteye {
	width: 75px;
	height: 40px;
	border-radius: 0px 0px 100px 100px;
	top: 130px;
}

/* * {
	border: 1px solid red;
  } */